    .link-container {
            margin-bottom: 20px;
        }

        .breadcrumb {
            display: flex;
            align-items: center; /* Căn chỉnh các item theo chiều dọc */
            padding: 8px 15px;
            background-color: transparent; /* Thêm dòng này */
            border-radius: 5px;
            font-size: 14px;
        }

        .breadcrumb-item {
            text-decoration: none;
            color: #007bff /* Màu mặc định cho link */
        }

        .breadcrumb-item:hover {
            text-decoration: underline; /* Gạch chân khi hover */
        }

        .home-link {
            margin-right: 5px; /* Tạo khoảng cách giữa icon và separator */
        }

        .separator {
            margin: 0 5px;
            color: #6c757d; /* Màu của dấu gạch chéo */
        }

        .current-novel {
            color: #6c757d; /* Màu cho item hiện tại */
        }