<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.staff.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>controller.user.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountContrller</servlet-name>
        <servlet-class>controller.staff.ManageAccountContrller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountController</servlet-name>
        <servlet-class>controller.staff.ManageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreController</servlet-name>
        <servlet-class>controller.staff.GenreController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountController</servlet-name>
        <url-pattern>/manageaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreController</servlet-name>
        <url-pattern>/managegenre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
